.card-container{
    position: absolute;
    margin-top: 5rem;
    margin-left: 28rem;
    display: flex;
    flex-wrap: wrap;
}

.card{
    padding: 20px;
    margin-right: 30px;
    margin-top: 30px;
}

.shoe-img{
    width: 200px;
}